header {
  background-image: url('https://images.pexels.com/photos/4226806/pexels-photo-4226806.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-position: center center;
  background-size: cover;
  text-align: center;
  height: 85vh;
  margin-bottom: 50px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 25pt;
  position: relative;
  justify-content: center;
}


h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18pt;
  margin-left: 4rem;
}


h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 12pt;
  padding-bottom: 3rem;
  margin-right: 1.5rem;
}

h4 {
  font-size: 10pt;
}


li {
  margin-right: 3rem;
}


.header-bar {
  width: 100%;
  padding: 0.25rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color:rgba(223, 207, 196, 1);
}

.menu-box {
  background-color: rgba(255, 255, 255, 1);
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 55px;
  margin-left: 2rem;
  margin-right: 2rem;
}


div {
  font-family: 'Martel', serif;
  font-weight: 100;
  font-size: 10pt;
}

body {
    background-color: rgba(252, 241, 229, 1);
  }


  .list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
  }


  .product {
    flex: 1;
    position: relative;
  }


  .product h4 {
    background: #fff;
    display: inline-block;
    padding-right: .5rem;
    position: relative;
    z-index: 1;
  }


  .prices {
    display: flex;
  }


  .price {
    padding: 0 .5rem;
  }

  .location-text {
    position: right;
  }


  img {
    max-width: 100%;
  }
  
  @media screen and (min-width: 800px) {

    .two-column {
      display: flex;
      flex-direction: row-reverse;
      max-width: 1280px;
      margin: 0 auto;
      padding: 3rem;
    }
  }

    .map {
      width: 50%;
      position: left;
    }
  

  .footer-box {
    background-color: rgba(223, 207, 196, 1);
    color: black;
    width: 100%;
    padding: 4rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  
  .box {
    padding: 1rem;
  }
  
i {
  padding: 2rem;
}

