body {
    padding: 3rem;
  }
  .list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .product {
    flex: 1;
    position: relative;
  }
  .product::after {
    border-bottom: 2px dotted #999;
    content: '';
    position: fixed;
    top: .7rem;
    width: 85%;
    z-index: 0;
  }
  .product h4 {
    background: #fff;
    display: inline-block;
    padding-right: .5rem;
    position: relative;
    z-index: 1;
  }
  .prices {
    display: flex;
  }
  .price {
    padding: 0 .5rem;
  }