h1 {
    font-family: 'Garamond', sans-serif;
    font-weight: 300;
    font-size: 12pt;
    position: relative;
    justify-content: left;
    margin-bottom: 1rem;
  }


  h2 {
    font-family: 'Garamond', sans-serif;
    font-weight: 300;
    font-size: 6pt;
    position: relative;
    justify-content: center;
  }


  h3 {
    font-family: 'Garamond', sans-serif;
    font-weight: 300;
    font-size: 18pt;
    position: relative;
    justify-content: center;
  }
  
p {
    font-family: 'Garamond', sans-serif;
    font-weight: 300;
    font-size: 12pt;
    position: relative;
    justify-content: center;  
}

a {
    font-family: 'Garamond', sans-serif;
    font-weight: 300;
    font-size: 12pt;
    position: relative;
    justify-content: center;  
}


header {
  background-color: #fff;
  border-bottom: 4px solid #fec89a;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}



body {
  margin-top: 5rem;
}


img {
  max-width: 100%;
  max-height: 100%;
}

.img-container {
  display: grid;
}


.home {
  display: grid;
  padding: 1rem;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 1280px;
  gap: 3rem;
}

@media screen and (min-width: 800px) {
  ..home {
    grid-template-columns: 1fr;
  }
}
